<div>
  <form class="container">
<h3 align="center">Contact US!!</h3>
<p align="center">Feel Free!!</p>
<p align="center">This form Doesn't Work For Now!!</p>
<div class="mb-3">
<label for="exampleFormControlInput1" class="form-label">Email address:</label>
<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="email"/>
</div><br /><div class="mb-6">
<label for="exampleFormControlInput1" class="form-label">Title</label>
<input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Eg:I found glitch in your website!" name="title"/>
<br/>
</div>
<div class="mb-26">
<label for="exampleFormControlTextarea1" class="form-label">Your Message:</label>
<textarea name="msg" placeholder="Eg: Hey What's Up!" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div><br />
<input type="submit" value="Submit" class="btn btn-outline-primary"/>
</form></div>