<div class="list-group container">
    <h3>These are some of my Projects.</h3>
    <a href="https://gaurabdhakaltts.ml/?i=1" class="list-group-item list-group-item-action active" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Text To Speech</h5>

      </div>
      <p class="mb-1">In this Website you can convert text to speech</p>
      <small>Checkout Now</small>
    </a>
    <a href="https://www.teamslayers.ga/" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Team Slayers</h5>

      </div>
      <p class="mb-1">This is a Website that i created dedicating my Free Fire Team.</p>
      <small class="text-muted">You can check it out</small>
    </a>

  </div>
