<div class="container">
<div class="card" style="width: 18rem;">
    <img src="https://i.ibb.co/w0fVqQS/bhoot.jpg" class="card-img-top" alt="BHOOT">
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <p class="card-text">I am Gaurab Dhakal from Kathmandu, Nepal and This is My Free Fire in-game profile!</p>
      <div class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
          <div class="toast-body">
          Hi There Thank You for coming!!
         </div>
          <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
      </div>
      <a routerLink="/about" class="btn btn-primary">Go to About</a>
    </div>
  </div>

</div>
